:root {
    --primary: #16a34a;
    --primary-light: #dcfce7;
    --primary-hover: #15803d;
    --secondary : #22c55e;

    --surface: #ffffff;
    --background: #f8fafc;

    --text-primary: #000000;
    --text-secondary: #64748b;

    --danger: #ef4444;

    --border-color: #e2e8f0;

    --status-total: #64748b;
    --status-soon: #f59e0b;
}